body {
  background-color: #062A54; 
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

/* Estilos globales compartidos */
.section {
  padding: 40px 20px;
  font-size: 25px;
  text-align: center;
  color: white;
}

/* Estilos comunes para headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  font-weight: bold;
}

/* Estilos para enlaces globales */
a {
  text-decoration: none;
  transition: color 0.3s ease;
}